main.img-hospital {
  background-image: url(https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
